<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514672857524-hq4rk70vk9hga6ke8lknn6qe2c6r72n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514672857524-hq4rk70vk9hga6ke8lknn6qe2c6r72n9</string>
	<key>API_KEY</key>
	<string>AIzaSyBOTavWd1Vchwakqv_6UzFbYw6ez3cxlhY</string>
	<key>GCM_SENDER_ID</key>
	<string>514672857524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.topup2pNodejs</string>
	<key>PROJECT_ID</key>
	<string>topup2p-nodejs</string>
	<key>STORAGE_BUCKET</key>
	<string>topup2p-nodejs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514672857524:ios:25cffbb7fd297b63fb22e1</string>
</dict>
</plist>